<div class="container p-5">

  <!--#region filters - button-->
  <div class="row">
    <div class="col-md-4">
      <input id="filterInput"
             class="form-control"
             placeholder="Buscar contacto">
    </div>

    <div class="col-md-4">
      <select id="filterSelect"
              class="form-select">
        <option selected>Selecciona una opción</option>
        <option value="1">Uno</option>
        <option value="2">Dos</option>
        <option value="3">Tres</option>
      </select>
    </div>

    <div class="col-md-4">
      <button id="addButton"
              type="button"
              class="btn btn-primary float-end">
        <i class="fa-solid fa-user-plus mx-2"></i>
        Agregar contacto
      </button>
    </div>
  </div>
  <!--#endregion -->


  <!--#region table-->
  <section>

  </section>
  <!--#endregion -->

</div>
